<link href = 'https://fonts.googleapis.com/css?family=Roboto' rel = 'stylesheet' type = 'text/css'>
<audio id = "buzzer" src = "https://codingtutorials360.com/14244764.mp3" type = "audio/mpeg"></audio>
<%= javascript_include_tag 'manifest' %>
<script src="/assets/config/pomodoro.js"></script>
<style>
    body{
        background-color: #ba4949
            

    }
    h1{
        color: white;
        font-family: "Roboto"

    }
    h2{
        display:inline;
        color: white;
        font-family: "Roboto"
            
    }
    h3{
        color: white;
        font-family: "Roboto"
    }
    #start{
        margin:10px;

    }
</style>
<div class = "text-center">
    <h1>Pomodoro</h1>
    <h3>Sofie Budman</h3>
   
    <div id = "timeDiv">
        <h1 id = "title1">Session Time</h1>
        <a href = "#" class= "btn btn-secondary" id = "minus5Clock"> - </a>
        
        <h2 id = "num">5<h2>
        <a href = "#" class = "btn btn-secondary" id = "add5Clock"> + </a>
        <a href = "#" class = "btn btn-secondary" id = "reset"> Reset </a>
    </div>
    <div id = "break">
        <h1 id = "title1">Break Time</h1>
        <a href = "#" class= "btn btn-secondary" id = "minus5Break"> - </a>
        
        <h2 id = "breakNum">5<h2>
        <a href = "#" class = "btn btn-secondary" id = "add5Break"> + </a>
    </div>
    <a href = "#" class = "btn btn-secondary" id = "start">Start</a>

    
</div>